{% extends "layout.html" %}

{% block body %}

        {% if session.name %}
        
        <script>
        
            $(document).ready(function(){
		        $("#chatbox").load("/chatbox");
		        setInterval(function(){
		            $("#chatbox").load("/chatbox");
		        }, 5000);
            });

        </script>
        
        login as {{ session.name }} <a href="/logout">logout</a>
        
        <div id="chatbox">
        </div>
        
        <form action="/send" method="post">
        
            <input type="text" name="message" autocomplete="off">
            <input type="submit" value="send">
        </form>

        {% else %}
            
        Please log in. <a href="/login">login</a>
            
        {% endif %}

{% endblock %}