{% extends "layout.html" %}

{% block body %}

<div class="menu">
    <div class="header"><h1>QUARREL-APP &#128172</h1></div>
<form action = "/login" method="post">
    <p class = "error">  {{ error }} </p>
    <p><input name="username" type="text" placeholder="Username" autofocus autocomplete="off"></p>
    <p><input name="password" type="password" placeholder="Password" autocomplete="off"></p>
    <button type="submit">Log in</button>
</form>
    <p><a href="/register">Register</a></p>
</div>

{% endblock %}