{% extends "layout.html" %}

{% block body %}

<div class="menu">
    <div class="header"><h1>CHATBOX &#128172</h1></div>
<form action="/register" method="post">
    <p class = "error"> {{ error }}</p>
    <p><input name="username" type="text" placeholder="Username" autofocus autocomplete="off"></p>
    <p><input name="password" type="password" placeholder="Password" autocomplete="off"></p>
    <p><input name="confirmation" type="password" placeholder="Confirm password" autocomplete="off"></p>
    <button type="submit">Register</button>
</form>
    <p><a href="/login">Login</a></p>
</div>

{% endblock %}